.main-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 720px;
    width: 600px;
    margin-left: 150px;
    margin-right: 50px;
}

.info__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 45px;
}

.info__card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 200px;
    border-radius: 5px;
    background-color: var(--main-content);
    font-size: 22px;
    font-weight: 600;
    color: var(--font-primary);
    -webkit-box-shadow: -2px 4px 10px 5px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -2px 4px 10px 5px rgba(0, 0, 0, 0.27);
    box-shadow: -2px 4px 10px 5px rgba(0, 0, 0, 0.27);
}

.info__cards a:nth-child(2) p{
    margin-top: -50px;
}

.info__card p{
    padding-bottom: 25px;
}

.info__card:hover{
    -webkit-box-shadow: 4px 4px 8px -1px rgba(160, 194, 76, 0.63);
    -moz-box-shadow: 4px 4px 8px -1px rgba(160, 194, 76, 0.63);
    box-shadow: 4px 4px 8px -1px rgba(160, 194, 76, 0.63);
}

@media (max-width: 1370px){
    .main-info {
        margin-left: 25px;
    }
}

@media (max-width: 1247px){
    .main-info{
        width: 550px;
    }
    .info__card{
        width: 200px;
        height: 200px;
    }

    .info__cards{
        gap: 25px;

    }
} 

@media (max-width: 1070px) {
    .main-info{
        width: 450px;
    }
    .info__card{
        width: 180px;
        height: 180px;
    }
} 
