.main-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-height: 720px;
    width: 900px;
    padding: 42px 0px 31px 45px;
}

.info__cards{
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 45px;
}

.info__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: var(--main-content);
    font-size: 28px;
    font-weight: 600;
    color: var(--font-primary);
    -webkit-box-shadow: -2px 4px 10px 5px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -2px 4px 10px 5px rgba(0, 0, 0, 0.27);
    box-shadow: -2px 4px 10px 5px rgba(0, 0, 0, 0.27);
}

.info__card p{
    padding-bottom: 25px;
}

.info__card:hover{
    -webkit-box-shadow: 4px 4px 8px -1px rgba(160, 194, 76, 0.63);
    -moz-box-shadow: 4px 4px 8px -1px rgba(160, 194, 76, 0.63);
    box-shadow: 4px 4px 8px -1px rgba(160, 194, 76, 0.63);
}

 @media (min-width: 1200px) and (max-width: 1439px){
    .main-info {
        width: 750px;
    }
    .info__card{
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 1200px){
    .info__card{
        width: 200px;
        height: 200px;
    }
} 

@media (max-width: 833px) {
    .main-info {
        min-height: 666px;
        height: 667px;
        width: 100%;
        padding: 31px 30px 44px;
    }
}
