.personal__card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 15px 25px;
    background-color: var(--background-primary);
    color: var(--font-primary);
    cursor: pointer;
    border-radius: 10px;
    -webkit-box-shadow: -2px 4px 10px 5px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -2px 4px 10px 5px rgba(0, 0, 0, 0.27);
    box-shadow: -2px 4px 10px 5px rgba(0, 0, 0, 0.27);
}

.personal__card__private{
    font-size: 28px;
    line-height: 40px;
}

.personal__card__private p {
    font-weight: 800;
}

.personal__card__job{
    font-size: 18px;
}