.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-height: 720px;
    width: 460px;
    padding: 30px;
    transition: background-color 0.5s, color 0.5s;
    background-color: var(--background-secondary);
}


@media (min-width: 850px) and (max-width: 1439px) {
    .sidebar {
        position: fixed;
        min-height: 100vh;
        width: 460px;
        padding: 53px 20px 35px 21px;
        background-size: 107%;
        overflow-y: auto;
    }
}

@media (max-width: 849px) {
    .sidebar {
        min-height: 666px;
        height: 667px;
        width: 100%;
        padding: 31px 30px 44px;
    }
}
