:root{
    --background-primary: #576a90;
    --background-secondary: #353d54;

    --light--background-primary: white;
    --light--background-secondary: #b1bbcf;

    --background-logo:#333333;
    --background-form:rgba(255,255,255,0.13);

    --main-content: #ef7f1b;
    --extra-content: #a0c24c;

    --font-primary: white;
    --font-secondary: black;
}