

html.light .personal__card,
html.light, .light body{
    background: var(--light--background-primary);
    color: var(--font-secondary);
}

html.light .sidebar{
    background-color: var(--light--background-secondary);
}

html.light .circle{
    border : 7px solid var(--main-content);
}

html.light .time,
html.light .personal__card__private{
    font-weight: 700;
    color: var(--main-content);
}

html.light .center{
    color: var(--font-secondary);
}

html.light .center button{
    background-color: var(--main-content);
    color: var(--font-primary);
}

html.light .personal__card:hover,
html.light .personal__link:hover{
    -webkit-box-shadow: 4px 4px 8px -1px rgba(239, 127, 27, 0.63);
    -moz-box-shadow: 4px 4px 8px -1px rgba(239, 127, 27, 0.63);
    box-shadow: 4px 4px 8px -1px rgba(239, 127, 27, 0.63);
}

html.light .info__card:hover{
    -webkit-box-shadow: 0px 3px 18px 7px rgba(53, 61, 84, 0.71);
    -moz-box-shadow: 0px 3px 18px 7px rgba(53, 61, 84, 0.71);
    box-shadow: 0px 3px 18px 7px rgba(53, 61, 84, 0.71);
}

html.light .popup{
    background-color: var(--light--background-secondary);
}